.email-greet {
  text-align: center;
}
.emails-main-container {
  display: flex;
  flex-direction: column;
  min-height: 750px;
  max-height: 100%;
}

.email-display {
  display: flex;
  flex-direction: row;
}
