.email-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  border: solid 1px black;
  height: 1000px;
  overflow: auto;
}

.email-details button {
  align-self: flex-start;
}
