.email-preview {
  height: 200px;
  border: solid 1px black;
}
.email-preview * {
  margin: 5px;
  text-decoration: none;
  color: black;
}

.email-preview:hover {
  cursor: pointer;
  box-shadow: inset 0 0px 3px 6px #ffb0fb78;
  transition: 0.3s;
}

.email-preview:hover .quick-actions {
  display: block;
}

.quick-actions {
  display: none;
}

.read {
  background-color: inherit;
}

.unread {
  box-shadow: inset 0 0px 3px 6px #56a5ff78;
  font-weight: bold;
  background-color: white;
}

.starred {
  background-color: yellow;
}

.sender {
  display: inline;
}

.from {
  display: none;
}

.email-preview:hover .from {
  display: inline;
  color: #56a5ff78;
}
