.email-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 1000px;
  overflow: auto;
  background-color: rgba(187, 211, 255, 0.795);
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
