.note-preview{
    border: 1px solid black; 
    padding:40px 10px;
    width: 20%;
    text-align: center;
}
input[type="color"]{
    opacity: 0;
}
.note-preview img{
    max-width: 100%;
    object-fit: contain;
}