.note-add-container {
    margin: 0px auto;
    max-width: 300px;
    display: flex;
}

.note-add-input{
    flex-grow: 1;
    margin: 0px;
    font-size: 1.2rem;
    padding: 8px;
}
.note-add-container input[type="radio"]{
    opacity: 0;
}
