body {
    background-color: lightpink;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
}
.car-list > *:not(:first-child) {
    margin-left: 20px;
}

.car-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
}
.car-preview img {
    width: 100px;
}

.car-filter {
    padding: 15px 0;
}
.car-filter label:not(:first-of-type) {
    margin-left: 10px;
}
.car-filter input {
    margin-left: 5px;
}
